@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
}

body {
   line-height: 1;
   background-color: #333;
   color: #fff;
   font-family: Roboto;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.example__container {
   padding: 80px 15px;
   margin: auto;
   max-width: 65.625rem;
   position: relative;
}

/* EM: потрібний розмір (767рх) ділимо на 16 (розмір шрифту за замовченням) */
@media (min-width: 48em) {
   .example__container::before {
         content: '';
         background: url('../img/decor.svg') 0 0 / 100% no-repeat;
         position: absolute;
         right: 0;
         /* ширину картинкu по макету ділимо на ширину example__container (батьківського елемента з position: relative;), множимо на 100% 
      153рх / 1050рх * 100% = 14.57% */
         width: 14.57%;
         /* Висоту картинки по макету ділимо на ширину example__container (батьківського елемента з position: relative;), множимо на 100%
      241рх / 1050рх * 100% = 22.95% */
         padding-top: 22.95%;
         /* половинa висоти example__container (батьківського елемента з position: relative; ) */
         top: 50%;
         /* зсув вправо і наверх на половину
         ширину/висоти картинки (змінюється) */
         transform: translate(50%, -50%);
      }
}

.example__header {
   margin-bottom: 25px;
   /* REM: ділимо ширину по макету (750рх) на 16рх(розмір шрифту за замовченням) */
   max-width: 46.875rem;
}

.example__suptitle {
   font-weight: 700;
   line-height: 1.7;
   text-transform: uppercase;
   color: #A989C7;
   /* REM: ділимо розмір шрифту за макетом (14рх) на 16рх (розмір шрифту за замовченням) */
   font-size: 0.875rem;
   /* EM: розмір відступу вниз за макетом (15рх) ділимо на розмір шрифту (14рх)*/
   margin-bottom: 1.07em;
}

.example__title {
   font-weight: 900;
   /* REM: ділимо розмір шрифту за макетом (42рх) на 16рх (розмір шрифту за замовченням) */
   font-size: 2.625rem;
   line-height: 1.19;
   /* EM: розмір відступу вниз за макетом (16рх) ділимо на розмір шрифту (42рх)*/
   margin-bottom: 0.38em;
   /* EM: розмір відступу letter-spacing за макетом (5рх) ділимо на розмір шрифту (42рх)*/
   letter-spacing: 0.12em;
   text-transform: uppercase;
   color: #93B482;
}

@media (max-width: 48em) {
   .example__title {
      font-size: 2rem;
   }
}

.example__description {
   line-height: 1.5;
}

.example__items {
   /* display: flex;
   row-gap: 24px;
   margin: 0px -12px;
   flex-wrap: wrap; */
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
   gap: 24px;
}

.example__item {
   padding: 0px 12px;
   flex: 1 1 33.333%;
   /* REM:  ширину карточки за макетом(290рх) ділимо на 16рх (розмір шрифту за замовченням)*/
   max-width: 18.125rem;
}

.item-example {
   display: flex;
   column-gap: 23px;
}

.item-example__icon {
   flex: 0 0 63px;
}

.item-example__title {
   font-weight: 900;
   font-size: 1.5rem;
   line-height: 1.08;
   color: #F2726F;
   margin-bottom: 0.45em;
}

.item-example__description {
   line-height: 1.5;
}